{{define "users/login"}}
    {{template "partials/header"}}
        <h2>Login</h2>

        {{if .Error }} <p style="color: red;">{{.Error}}</p> {{end}}

        <form action="/login" method="Post">            
            <p>
                <label for="Username">
                    Username
                    <input type="text" name="username" value="" id="username">
                </label>
            </p>

            <p>
                <label for="Password">
                    Password
                    <input type="password" name="password" id="password">                    
                </label>
            </p>
            
            <button type="submit">Submit</button>
            
        </form>

        <p>New to this aPP? <a href="users/new"> Register</a></p>
    {{template "partials/footer"}}

{{end}}